- model_class = Device
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
%table.table.table-striped
  %thead
    %tr
      %th= sortable "computer_name"
      %th= sortable "device_type"
      %th= sortable "assignment"
      %th= sortable "location"
      %th= sortable "date_in_service" 
      %th= sortable "asset_tag"
      %th= sortable "serial_number"
      %th= sortable "manufacturer"
      %th= sortable "disposal_date"
      %th= sortable "lease_id"
      %th= sortable "lease_term"      
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @devices.each do |device|
      %tr
        %td= link_to device.computer_name, device_path(device)
        %td= device.device_type
        %td= device.assignment
        %td= device.location
        %td= device.date_in_service
        %td= device.asset_tag
        %td= device.serial_number
        %td= device.manufacturer
        %td= device.disposal_date
        %td= device.lease_id
        %td= device.lease_term
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_device_path(device), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), device_path(device), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
    .pagination{align: 'right'}
      = will_paginate @devices, renderer: BootstrapPagination::Rails
= link_to t('.new', :default => t("helpers.links.new")), new_device_path, :class => 'btn btn-primary'
