= form_for @device, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :key, :class => 'control-label'
    .controls
      = f.text_field :key, :class => 'text_field'
  .control-group
    = f.label :computer_name, :class => 'control-label'
    .controls
      = f.text_field :computer_name, :class => 'text_field'
  .control-group
    = f.label :device_type, :class => 'control-label'
    .controls
      = f.text_field :device_type, :class => 'text_field'
  .control-group
    = f.label :assignment, :class => 'control-label'
    .controls
      = f.text_field :assignment, :class => 'text_field'
  .control-group
    = f.label :location, :class => 'control-label'
    .controls
      = f.text_field :location, :class => 'text_field'
  .control-group
    = f.label :date_in_service, :class => 'control-label'
    .controls
      = f.text_field :date_in_service, :class => 'text_field'
  .control-group
    = f.label :asset_tag, :class => 'control-label'
    .controls
      = f.text_field :asset_tag, :class => 'text_field'
  .control-group
    = f.label :serial_number, :class => 'control-label'
    .controls
      = f.text_field :serial_number, :class => 'text_field'
  .control-group
    = f.label :manufacturer, :class => 'control-label'
    .controls
      = f.text_field :manufacturer, :class => 'text_field'
  .control-group
    = f.label :disposal_date, :class => 'control-label'
    .controls
      = f.text_field :disposal_date, :class => 'text_field'
  .control-group
    = f.label :lease_id, :class => 'control-label'
    .controls
      = f.text_field :lease_id, :class => 'text_field'      
  .control-group
    = f.label :lease_term, :class => 'control-label'
    .controls
      = f.text_field :lease_term, :class => 'text_field'            



      
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), devices_path, :class => 'btn'
