- model_class = Printer
.page-header
  %h1=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
- @printer.errors.full_messages.each do |message|
  .alert.alert-danger{:role => "alert"}
    = message    
= render :partial => "form"
