!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Neon"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") Neon
          .container.nav-collapse
            %ul.nav
              %li= link_to "Devices", devices_path
              %li= link_to "iDevices", idevices_path
              %li= link_to "Printers", printers_path
              %li= link_to "AV - Interactive", av_devices_path
              %li= link_to "Upload All", upload_inventory_path
            .container-fluid
              .row-fluid
                - if user_signed_in?
                  Signed in as #{current_user.email}. Not you?
                  \#{link_to "Sign out", destroy_user_session_path}  
    .container-fluid

      .row-fluid
        -# .span3
          -# .well.sidebar-nav
            -# %ul.nav.nav-list
              -# %li.nav-header Sidebar
              -# %li= link_to "Link 1", "/path1"
              -# %li= link_to "Link 2", "/path2"
              -# %li= link_to "Link 3", "/path3"
        .span
          = bootstrap_flash
          = yield
    
      %footer
        %p &copy; Company 2013
